/*
@styleguide

@title print-map (@mixin)

Given a map, mixin prints 1x declaration for every key/value pair. NOTE: Mixin DOES NOT support nested maps.

- @param {Map} `$map`

### Usage
```
// Input
p {
    @include print-map( $fontStylesMap );
}

// Output
p {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}


// NOTE:
// Example above assumes that $fontStylesMap includes the following keys: `font-size`; `font-weight`; `text-transform`.
```
*/
@mixin print-map( $map ) {
    /// TODO[@jrmykolyn]
    // - Ensure that `$map` arg. is of correct type.

    @each $key, $value in $map {
        #{$key}: #{$value};
    }
}