/*
@styleguide

@title on (@mixin)

For each valid 'state' (eg. pseduo-selector) received via the `$states` argument,
mixin wraps the provided `@content` declarations in a new CSS rule.
Note that the mixin validates each 'state' against an internally defined whitelist.

- @param {String} `$states` - The list of 'states' for which to apply the provided styles

### Usage
```
// Input
a {
    @include on( hover ) { background: red; }
}

// Output
a:hover {
    background: red;
}
```
```
// Input
a {
    @include on( focus active ) { margin-right: 10px; }
}

// Output
a:focus,
a:active {
    margin-right: 10px;
}
```
*/
@mixin on( $states ) {
    $validStates: hover focus active visited;

    @each $state in $states {
        @if index( $validStates, $state ) {
            &:#{$state} {
                @content;
            }
        }
    }
}