/*
@styleguide

@title apply-aspect (@function)

Given a set of 2x numbers (`$dims`) and a value (`$value`), function applies the aspect ratio to the value and returns the result.

NOTE: This function may also be invoked as `applyAspect()`

- @param {String} `$dims` - *Space-delimited set of dimensions. Function expects the first number to be the width, second to be the height.*
- @param {String|Number} `$value` - *Value against which the aspect ratio will be applied. Defaults to '100%' if no argument is provided.*
- @return {Number}

### Usage
```
// Input
div {
    width: apply-aspect( 3 4 );
    height: apply-aspect( 2 3, 600px );
}

// Output
div {
    width: 75%;
    height: 400px;
}
```
*/
@function apply-aspect( $dims, $value: 100% ) {
    @return applyAspect( $dims, $value );
}

@function applyAspect( $dims, $value: 100% ) {
    @if ( length( $dims ) != 2 ) {
        @error 'Please ensure that `$dims` argument contains 2x values.';
    }

    @return get-aspect( $dims )*$value;
}
