// --------------------------------------------------
// IMPORT CONFIG
// --------------------------------------------------
@import 'config/manifest';


// --------------------------------------------------
// IMPORT PACKAGE
// --------------------------------------------------
@import '../sfco-sass-utils';


// --------------------------------------------------
// DO TESTS
// --------------------------------------------------
/*!
 * If test is successful, rule(s) below should include styles for:
 * - color: #FF0000;
 * - font-family: ...;
 * - display: ...;
 * - overflow: ...;
 */
.test--functions {
    color: getColor( red );
    font-family: getFont( primary, display );
    display: get( $demoMap, display );
    overflow: get( $demoMap, overflow, hidden );
}


/*!
 * If test is successful, rule(s) below should include styles for:
 * - width: 75%;
 * - height: 400px;
 */
.test--functions--apply-aspect {
    width: applyAspect( 3 4 );
    height: applyAspect( 2 3, 600px );
}


/*!
 * If test is successful, rule(s) below should include styles for:
 * - content: ...;
 */
.test--functions:before,
.test--functions::before {
    content: "1200 is #{getAspect( 1200 800 )} times larger than 800."
}


/*!
 * If test is successful, rule(s) below should include styles for:
 * - content: ...;
 */
.test--functions:after,
.test--functions::after {
    content: "300 is #{getAspect( 400 300, false )*100} percent of 400."
}


/*!
 * If test is successful, rule(s) below should include styles for:
 * - ...
 * - `margin` and `padding`;
 * - `:hover`;
 * - `:before`;
 * - `> :first-child`;
 */
.test--mixins {
    @include set( margin padding, 0 );

    @include on( hover ) {
        color: red;
    }

    @include pseudo( before ) {
        content: '';
        display: block;
    }

    @include descendant( first ) {
        color: blue;
    }
}


/*!
 * If test is successful, rule(s) below should include styles for:
 * - max-width;
 * - max-height;
 */
.test--mixins--max-size--1x-args {
    @include max-size( 50% );
}


/*!
 * If test is successful, rule(s) below should include styles for:
 * - max-width;
 * - max-height;
 */
.test--mixins--max-size--2x-args {
    @include max-size( 100% 400px );
}


/*!
 * If test is successful, rule(s) below should include styles for:
 * - min-width;
 * - min-width;
 */
.test--mixins--min-size--1x-args {
    @include min-size( 200px );
}


/*!
 * If test is successful, rule(s) below should include styles for:
 * - min-width;
 * - min-width;
 */
.text--mixins--min-size--2x-args {
    @include min-size( 25% 600px );
}