/*
@styleguide

@title max-size (@mixin)

Mixin allows for quick setting of the `max-width` and `max-height` properties on a given element.

If the list argument contains 1x item: both properties will be set to the provided value.

If the list argument contains 2x or more items: `max-width` will be set equal to the first value; `max-height` will be set equal to the second value

- @param {String} `$max-dims` - A list of values

### Usage
```
// Input
div {
    @include max-size( 50% );
}

// Output
div {
    max-width: 50%;
    max-height: 50%;
}
```
```
// Input
div {
    @include max-size( 100% 400px );
}

// Output
div {
    max-width: 100%;
    max-height: 400px;
}
```
*/
@mixin max-size( $max-dims: null ) {
    @if ( $max-dims == null ) {
        @error 'Whoops! `max-size` requires at least 1x *non-null* argument.';
    } @else if ( length( $max-dims ) == 1 ) {
        max-width: #{$max-dims};
        max-height: #{$max-dims};
    } @else {
        max-width: nth( $max-dims, 1 );
        max-height: nth( $max-dims, 2 );
    }
}
