/*
@styleguide

@title get (@function)

Function is a wrapper around the native SASS `map-get` function.

- @param {String} `$map` - *Target SASS map.*
- @param {String} `$key` - *Target map key.*
- @param {String} `$fallback` - *Value to return if target key does not yield a value.*
- @return {Mixed}

### Usage
```
// Input
div {
    display: get( $demoMap, display );
}

// Output
div {
    display: block;
}


// NOTE:
// Example above assumes that `$demoMap` incudes a key of 'display', which in turn holds a value of 'block'.
```
```
// Input
div {
    overflow: get( $demoMap, overflow, hidden );
}

// Output
div {
    overflow: hidden;
}


// NOTE:
// Example above assumes that `$demoMap` DOES NOT include a key of 'display'. In this case, the fallback value ('hidden') is returned.
```
*/
@function get( $map, $key, $fallback: '' ) {
    @if ( $map and map-has-key( $map, $key ) ) {
        @return map-get( $map, $key );
    }

    @return $fallback;
}