// get-font($font-name, $submap)
//
// Function fetches the specified font from a 'set' of fonts, defined on `$font-map`. This function may also be invoked as `getFont()`.
//
// NOTE: This function may also be used to fetch data from `$fontMap`.
//
// **Usage**
// ```
// // Input
// body {
//     font-family: get-font( copy );
// }
//
// // Output
// body {
//     font-family: "Times New Roman", serif;
// }
//
//
// // NOTE:
// // Example above assumes that $font-map includes the $submap 'default',
// // which in turn has a key called 'copy' set to a value of "'Times New Roman', serif".
// ```
// ```
// // Input
// h1 {
//     font-family: get-font( primary, display );
// }
//
// // Output
// h1 {
//     font-family: "Helvetica", "Arial", sans-serif;
// }
// 
// // NOTE:
// // Example above assumes that $font-map includes the $submap 'display',
// // which in turn has a key called 'primary' set to a value of "'Helvetica', 'Arial', serif".
// ```
//
// $font-name - *The font to fetch.*
// $submap = default - *The set/group of fonts which contains `$font-name`.*
//
// Style guide: functions.get-font
@function get-font( $font-name, $submap: default ) {
    @return getFont( $font-name, $submap );
}

@function getFont( $font-name, $submap: default ) {
    $target: null;
    $fonts: null;

    // Validate existence of 'font map' or error.
    @if ( global-variable-exists( fontMap ) ) {
        $target: $fontMap;
    } @else if ( global-variable-exists( font-map ) ) {
      $target: $font-map;
    } @else {
        @error 'Whoops! Please ensure that either of the following variables exist: `$fontMap`; `$font-map`.';
    }

    // Get target submap or error.
    @if ( map-has-key( $target, $submap ) ) {
        $fonts: map-get( $target, $submap );
    } @else {
        @error 'Please ensure that the `#{$submap}` key exists, and is a list.';
    }

    // Return requested font or error.
    @if ( map-has-key( $fonts, $font-name ) ) {
        @return map-get( $fonts, $font-name );
    } @else {
        @error 'Map `#{$submap}` does not include key `#{$font-name}`.';
    }
}
