/**
 * Function fetches the specified color from a 'set' of colors, defined on $colorMap.
 *
 * @param {String} `$colorName` - The color to fetch.
 * @param {String} `$colorSet` - The set/group of colors which contains `$colorName`.
 * @return {String}
 *
 * Usage:
 * color: getColor( black );
 * background-color: getColor( base, placeholder );
 */
@function getColor( $colorName, $colorSet: base ) {
  @if global-variable-exists( colorMap ) == false {
    @error 'Whoops! Please ensure that the `$colorMap` variable exists.';
  }

  $colors: map-get( $colorMap, $colorSet );

  @if variable-exists( colors ) == false {
    @error 'Please ensure that the `#{$colorSet}` key exists on $colorMap, and is a list.';
  }

  @return map-get( $colors, $colorName );
}