/// TODO[@jrmykolyn] - Add comments to the variable declarations below.

/**
 * ...
 */
$demoMap: (
    display: block
);


/**
 * ...
 */
$colorMap: (
    base: (
        red: #FF0000
    )
);


/**
 * ...
 */
$fontMap: (
    default: (
        display: serif,
        copy: ('Times New Roman', serif)
    ),
    display: (
        primary: ('Helvetica', 'Arial', sans-serif)
    )
);

/**
 * ...
 */
$fontData: (
    'FONT NAME': (
        ( 'font-name', 500 normal ( woff woff2 ) ),
    ),
    'FONT NAME 2': (
        ( 'font-name-2-file-1', 500 normal ( woff woff2 ) ),
        ( 'font-name-2-file-2', 600 normal ( woff woff2 ) )
    )
);


/**
 * ...
 */
$pathMap: (
    default: (
        images: './assets/images'
    )
);


/**
 * ...
 */
$fontStylesMap: (
    font-size: 1.4rem,
    font-weight: 500,
    text-transform: uppercase
);