/**
 * `$demo-map` is used by the `sfco-sass-utils` tests.
 */
$demo-map: (
    display: block
);

/**
 * `$color-map` is used by the `get-color`/`getColor` function.
 *
 * NOTE: Legacy `$colorMap` is also supported.
 */
$color-map: (
    base: (
        red: #FF0000
    ),
    primary: (
        red: #ff0000,
        yellow: #ffff00,
        blue: #0000ff,
    ),
    secondary: (
        orange: #ffa500,
        green: #00ff00,
        purple: #800080,
    ),
);

/**
 * `$font-map` is used by the `get-font`/`getFont` function.
 *
 * NOTE: Legacy `$fontMap` is also supported.
 */
$font-map: (
    default: (
        display: serif,
        copy: ('Times New Roman', serif)
    ),
    display: (
        primary: ('Helvetica', 'Arial', sans-serif)
    )
);

/**
 * `$path-map` is used by the `get-path`/`getPath` function.
 *
 * NOTE: Legacy `$pathMap` is also supported.
 */
$path-map: (
    default: (
        images: './assets/images'
    ),
    placeholder: (
        images: './assets/images/placeholder'
    )
);

/**
 * `$demo-map` is used by the `sfco-sass-utils` tests.
 */
$font-styles-map: (
    font-size: 1.4rem,
    font-weight: 500,
    text-transform: uppercase
);
