/**
 * ...
 */
$colorMap: (
    base: (
        red: #FF0000
    )
);


/**
 * ...
 */
$fontMap: (
    default: (
        display: serif,
        copy: ('Times New Roman', serif)
    ),
    display: (
        primary: ('Helvetica', 'Arial', sans-serif)
    )
);