/*
@styleguide

@title pseudo (@mixin)

For each valid pseudo element received via the `$elements` argument,
mixin wraps the provided `@content` declarations in a new CSS rule.
Note that the mixin validates each 'element' against an internally defined whitelist.

- @param {String} `$elements`

### Usage
```
// Input
div {
    @include pseudo( before ) {
        content: 'This is my before element content';
        display: block;
        color: white;
        background-color: black;
    }
}

// Output
div::before {
    content: 'This is my before element content';
    display: block;
    color: white;
    background-color: black;
}
```
*/
@mixin pseudo( $elements ) {
    $valid-pseod-elements: before after;

    @each $element in $elements {
        @if index( $valid-pseod-elements, $element ) {
            &#{'::'}#{$element} {
                @content;
            }
        }
    }
}
