/*
@styleguide

@title get-path (@function)

TODO[@jrmykolyn] - Add description for `get-path()`.

- @param {String} `$path-name`
- @param {String} `$set`
- @param {String}

### Usage
```
// Input
.icon--share {
    background-image: url(#{get-path( images )}/icon--share.png);
}

// Output
.icon--share {
    background-image: url(./assets/images/icon--share.png);
}


// NOTE:
// Example above assumes that $pathMap includes the $set 'default',
// which in turn has a key called `images` set to a value of `./assets/images`.
```
*/
@function get-path( $path-name, $set: default ) {
    @return getPath( $path-name, $set );
}

@function getPath( $path-name: null, $set: default ) {
    $target: null;
    $paths: null;

    // Validate existence of 'path map' or error.
    @if ( global-variable-exists( pathMap ) ) {
        $target: $pathMap;
    } @else if ( global-variable-exists( path-map ) ) {
        $target: $path-map;
    } @else {
        @error 'Whoops! Please ensure that either of the following variables exist: `$pathMap`; `$path-map`.';
    }

    // Get target submap or error.
    @if ( map-has-key( $target, $set ) ) {
        $paths: map-get( $target, $set );
    } @else {
        @error 'Please ensure that the `#{$set}` key exists, and is a list.';
    }

    // Return requested path or error.
    @if ( map-get( $paths, $path-name ) ) {
        @return map-get( $paths, $path-name );
    } @else {
        @error 'Map `#{$set}` does not include key `#{$path-name}`.';
    }
}
